/*general*/

body {
font-family: 'Catamaran', sans-serif; 
background: rgb(238, 121, 53);
width: 80%;
padding: 2em;
margin: 0 auto;
}
header {
    
 display: flex;
 margin-right: 20%;
 margin-left: 20%;
 }
h1{
  display : flex;
  background-color: rgb(241, 161, 185);
  margin: 6px;
  padding: 6px;
  justify-content: space-around;
  width: auto  
}
.menunav {
    background: rgb(247, 229, 128);
    font-family: 'Spicy Rice', cursive;
    justify-content: space-between;
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    font-size: 25px;
    font-family: 'Spicy Rice', cursive;
    padding: 20px;
    margin: 10px; 
    width: 90%;
  }
a.menu:link {
  color:rgb(238, 121, 53);
  text-decoration: none;
} 
a.menu:visited {
  color:rgb(238, 121, 53);
}
a.menu:hover{
  color: rgb(241, 161, 185);
}
a:hover{
  color: rgb(241, 161, 185)    
}
a:link{
  color: rgb(238, 121, 53);
}
a:visited{
  color: rgb(238, 121, 53);
}
#container1 {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  margin: 10px;
  justify-content: center;    
}
#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
}  
footer{
  text-align: center;
}
a.foot:link{
  color: black;
}
a.foot:visited{
  color: black;
}
article.netflix-spotify{
  display : flex;
  background-color: rgb(241, 161, 185);
  margin: 6px;
  padding: 6px;
  justify-content: space-around;
  width: auto
}
p{
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}
/*por pagina*/
article#inicio {
  display : flex;
  background-color: rgb(241, 161, 185);
  margin: 6px;
  padding: 6px;
  justify-content: space-around;
  width: auto
}
article.culture{
    font-weight: bold;
    display : flex;
    flex-direction: row;
    text-align: center;
    margin: 6px;
    padding: 6px;
    justify-content: center;
}
article.culture p{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(241, 161, 185);
    width: fit-content;
}
article.outfits p{
    display : flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width: fit-content;
    background-color: rgb(241, 161, 185);
}
article.outfits img{
    margin: 2px;
    
}
p#musica{
    display : flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    width: fit-content;
    background-color: rgb(241, 161, 185);
}
p#musica img{
    margin: 2px;
}